PORT=3000
MONGO_URI=mongodb://shopnestUser:ShopNest123@ac-qplme5q-shard-00-00.jyo5yk7.mongodb.net:27017,ac-qplme5q-shard-00-01.jyo5yk7.mongodb.net:27017,ac-qplme5q-shard-00-02.jyo5yk7.mongodb.net:27017/shopnest-mern?ssl=true&replicaSet=atlas-ai63d7-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=your_jwt_secret_key_sjafkuhgkuhgfkgvhfkg

EMAIL_USER=
EMAIL_PASS=

CLOUDINARY_CLOUD_NAME=signup_data
CLOUDINARY_API_KEY=signup_data
CLOUDINARY_API_SECRET=signup_data